.navbar {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  padding: 1rem 1.2rem;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  height: 3.2rem;
  width: auto;
}
