.workerPage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: black;
}


.workerPage h1{
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
}
.workerPage h2{
  font-size: 1.37rem;
  font-weight: bolder;
}
.workerPage p{
  /* font-size: 1.23rem; */
}

.person-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
}

.person-card {
  border: 1px solid #007bff;
  border-radius: 10px;
  padding: 16px;
  width: 250px;
  background: #e9f3ff;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}


.person-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.add-btn {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #0056b3;
}

.dialog-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex; justify-content: center; align-items: center;
  z-index: 999;
}

.dialog-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.dialog-box h2 {
  margin-top: 0;
  text-align: center;
}

.dialog-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dialog-actions button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
}

.dialog-actions button:hover {
  background-color: #0056b3;
}
